@charset "UTF-8";
/*CSS Doc*/

body 
{
  font-family: Helvetica, Arial, sans-serif;
}

/*main container*/
.container 
{
  margin: 0 auto;
  background-color: #efefef;
  /*don't let the site get any bigger than this*/
  max-width: 1140px;
}
  
  /*boxes for mobile*/
  .box 
  {
    align-content: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    width: 100%;
  }

  .box1
  {
   background-color: rgb(254,127,156);
  }

  .box2
  {
   background-color: rgb(255,0,0);
  }

  
  /*hide boxes*/
  .box3
  {
    display: hidden;
  }

  .box4
  {
    display: hidden; 
  }


/*when screen gets x big, perform this*/
@media screen and (min-width: 641px) {
  
  .container 
  {
    display: flex;
    flex-direction: row;
  }

  .box1
  {
   background-color: rgb(0,0,255);
  }

  .box2
  {
    background-color: rgb(128,0,128);
  }

  .box3
  {
    background-color: rgb(220,220,220);
  }

  .box4
  {
    background-color: rgb(128,248,128);
  }
}
